body{
	font-family:"Tahoma"; font-size:12px;
	background-image:url('img/Body.png'); color:#000;
}
hr{
	height:3px; border:1px inset #fff;
	background-image:repeating-linear-gradient(45deg,#fff3,#fffe 8px,#fff3 16px);
}
[rx] { text-shadow:1px 1px #fff7, -1px -1px #0007; color:#7777; }
[ctrl="PRG"]{ background-image:linear-gradient(#666,#ccc,#666); height:2em; margin:0 0.5em 0.5em 0; }
.PRGF{ background-image:linear-gradient(#f60,#fc0,#f60); }
.PRGT{ font-size:1.5em; color:#840; font-weight:bold; }

.ALR{ width:100%; padding:0.5em; }
.ALR{ background-image:linear-gradient(0deg,#888,#fff 1em); color:#840; }
.ALR[err]{ background-image:linear-gradient(0deg,#f00,#fcc 1em); color:#f00; }
.ALR > div:nth-of-type(1){ font-size:2em; }

.TTP{ border-radius:8px; padding:8px; background-color:#fc0; color:#840; }
.TTP[alr]{ background-color:#f00; color:#fcc; }
.TTP[alr]::after{
	content:""; position:absolute;
	margin-top:-8px; right:100%; top:16px;
	border-width:8px; border-style:solid;
	border-color:transparent #f00 transparent transparent;
}

[ctrl="SBT"]{
	width:2em; height:2em; padding:0.5em; font-weight:bold; 
	color:#000; border:2px outset #fff7; border-radius:50%;
	background:#fff4; padding:2px; margin:2px 2px 2px 0; cursor:pointer;
}
[ctrl="SBT"]:not([rdo]):hover{ border:2px outset #0008; background:#0004; color:#fff; }

.FLD::selection, .FLD::-moz-selection, .COD::selection, .COD::-moz-selection{ background:#fc0; color:#ff0; }
.FLD::placeholder, .FLD::-webkit-input-placeholder{ color:#aaa; }
.FLD:focus{ outline:none; border:2px inset #f807; }
[ctrl][req] > .FLD::after{ content:'*'; color:#f40; }
.FLD{ background:#fff; color:#000; border:2px inset #ccc7; }
[ctrl]:not([rdo]) > .FLD:hover{ border:2px inset #fc08; }
[ctrl][rdo] > .TXT{ background:#fdb; color:#f80; }

.TRK{ background-image:linear-gradient(#666,#ccc,#666); }
.TRK > div{ background-image:linear-gradient(#fc8,#fff,#fc8); color:#840; }
[ctrl][rdo] > .TRK > div{ background-image:linear-gradient(#ccc,#fff,#ccc); color:#444; }

form{
	background:#ccc; border-radius:16px;
	box-shadow:16px 16px 8px 8px #0007;
	border:2px outset #fff7; margin:8px;
	padding:1em;
}
.FRT{ background-image:linear-gradient(#f80,#ff0,#f80); font-weight:bold; }
form[err]{
	background:#fff; box-shadow:16px 16px 8px 8px #8007; color:#f00;
	border:2px outset #f00;
}
form[err] > .FRT{ background-image:linear-gradient(#800,#f00,#800); color:#ff0; }
.SCN{ background:#0007; color:#f80; padding:16px; }

.RBN{ background-image:linear-gradient(270deg,#0000,#0007 16px); color:#fff; }
.RBN li{
	transition:background 1s, color 1s;
	border:1px outset #c607; border-left:0px; border-right:0px;
}
.RBN li:hover{ background:#fff3; color:#fc0; }
.RBN li > div{ transition:background 1s, color 1s; }
.RBN li > div:hover{ background:#fff; color:#f80; }
.RBN li[err]{ background:#f00; color:#ff0; }

[ctrl="BTN"]{
	background-color:#fc0; color:#840; border-radius:16px;
	padding:4px 4px 88px 4px; font-weight:bold; box-sizing:border-box;
	width:96px; height:96px; text-align:center;
	background-position:bottom center; background-repeat:no-repeat;
	border:2px outset #f80; margin:0 4px 4px 0;
}
[ctrl="BTN"]:not([rdo]){ transition:border 1s; }
form[err] > [ctrl="BTN"]{ background-color:#fcc; color:#f00; }
[ctrl="BTN"][rdo]{ background-color:#ccc; color:#aaa; border-color:#ccc; }
[ctrl="BTN"]:not([rdo]):hover{ border:2px outset #fff7; }
form[err] > [ctrl="BTN"][n="V"]{ background-image:url("img/B_OK.png"); }
form[err] > [ctrl="BTN"][n="X"]{ background-image:url("img/B_DEL.png"); }

.TRL[sel] > div{ background:#ff0; color:#f80; }